@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
  }
.title{
    font-family: 'Abril Fatface', cursive;
    color: rgb(66, 46, 46);
    font-size: 30px;
    text-decoration: none;
    margin-right: auto;
}

.pageLink{
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
    font-size: 22px;
    text-decoration: none;
    padding: 0px 20px;
    color: #3c4863;
    
    a:hover{
        color: pink;
    }
    
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(48, 129, 67);
    position:fixed;
    width: 100%;
    background: rgba(199, 186, 186, 0.45);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba(233, 223, 223, 0.18);
}

@media screen and (min-width: 992px) {
    .header{
        display:flex;
        flex-direction: column;
    }
}

